*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left-section{
     font-family: 'Exo', sans-serif;
}


.main-container {
  display: grid;
  grid-template-columns: 4fr 5fr;
  gap: 20px;
  padding: 20px;
}

.left-section {
  padding: 20px;
}

.right-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.main-logo {
  max-width: 70%;
  height: auto;
}

.main-logo:hover{
  cursor: pointer;
}

.left-container-h2{
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 900;
}

.left-container-text{
  margin: 40px 0 20px 0;
  font-size: large;
  font-weight: 600;
}

input{
  width: 60%;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  outline: none;
  font-size: 1.3vw;
}

button {
  width: 30%;
  padding: 10px;
  font-size: larger;
  animation: ease all 2s;
  background-color: #EA7B2C;
  border: none;
  border-radius: 5px;
  color: #fff;
}

button:active{
  scale: .9;
}

button:hover{
  cursor: pointer;
}
.error{
  color: red;
  font-weight: 500;
}
.success{
  color: green;
  font-weight: 500;
}



/* media query */


@media (max-width: 480px) {

  .main-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    align-items: center;
  }
  input{
    width: 100%;
    font-size: 30px;
  }
  button{
    width: 50%;
    font-size: 20px;
  }

    .input-container input[type="text"]::placeholder {
      font-size: 20px;
    }

        .right-section {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 30px;
        }
}


@media (min-width: 481px) and (max-width: 720px) {

  .main-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  
    .left-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 10px;
      align-items: center;
    }
  
    input {
      width: 100%;
      font-size: 30px;
    }
  
    button {
      width: 30%;
      font-size: 20px;
    }
  
    .input-container input[type="text"]::placeholder {
      font-size: 20px;
    }
  
    .right-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  
}


@media (min-width: 721px) and (max-width: 1080px) {

  .main-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  
    .left-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 10px;
      align-items: center;
    }
  
    input {
      width: 80%;
      font-size: 20px;
      padding: 10px;
    }
  
    button {
      width: 30%;
      font-size: 25px;
    }
  
    .input-container input[type="text"]::placeholder {
      font-size: 20px;
    }
  
    .right-section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  
}

